body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(rgba(35, 48, 83, 0.6), rgba(13, 11, 20, 0.7)), url(piotr-chrobot-6oUsyeYXgTg-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.div1 {
    /* text-align: center; */
    font-size: 22px;
}

h2 {
    background: linear-gradient(rgba(103, 106, 117, 0.5), rgba(81, 77, 94, 0.5));
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .inp{
    height: 50px;
} */

input[type=checkbox] {
    width: 50px;
    height: 30px;
}